#div-0 { padding: 30px; }
#div-1 { padding: 30px 40px; }
#div-2 { padding: 30px 60px 90px; }
#div-3 { padding: 30px 60px 90px 120px; }

div {
  /* other styling */
  background-color: #ff7a59;
  color: #2D3E50;
  font-family: 'Arial';
	font-weight: bold;
  margin: 20px;
  display: inline-block;
  text-align: center;
}
