body {
	background: #FFC800;
	text-align: center;
	font-family: 'Charcoal', sans-serif;
}

#lolcatImage {
  max-width:30em
}

ul {
  font-family: monospace;
}
li {
  list-style: circle;
}

.list {
  list-style: square;
}

#date {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #FFC800;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #1E212B;
  color: white;
}

